[mysqld]

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

symbolic-links=0

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

#log-error=/vagrant/var/log/mysql/mysqld.log

[mysqld_safe]
log-error=/vagrant/var/log/mysql/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid